version: "3.8"

services:
  db:
    image: mysql
    restart: always
    ports:
      - "1000:3306"

    volumes:
      - .db:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ambassador